<section class="about-alba">
    <div class="alba-box">
        <div class="image-box">
            <img src="/images/alba.jpg" alt="" class="alba-img">
        </div>
        <div class="text-box">
            <h2>Alba Díaz</h2>
            <p>
                <i>Hello, world!</i> Soy Alba, nací, crecí y de momento aún sigo en Las Palmas de Gran Canaria. 
                De mí decir que siempre he tenido inclinación por el mundo de las artes y toda mi experiencia hasta ahora la he enfocado hacia ese ámbito. 
                Mis estudios van desde las artes plásticas y diseño en gráfica impresa a producción de audiovisuales y espectáculos. 
                En mi última experiencia laboral ejercí durante 4 años como maquetadora para contenido <i>e-learning</i>. 
                Tras ello, se “me cruzaron los cables” y me planteé lanzarme al mundo de la programación sin tener mucha idea de nada y heme aquí, ¡en "nuestra primera página web"!
            </p>
        </div>
    </div>
</section>