<section class="about-belen">
    <div class="image-box">
        <img src="/images/belen.jpg" alt="Belén delante del castillo de Hiroshima" >
    </div>
    <div class="text-box">
        <h2>Belén Collado</h2>
        <p>¡Hola! Soy Belén, nací en Mérida hace 35 años, pero desde casi 10 vivo en Madrid. Mi trayectoria profesional hasta ahora ha estado centrada en el periodismo y la comunicación. Pero al pasar los años y no conseguir un hueco en algún puesto o proyecto estable, me he decidido tirar a la piscina y pasarme a la programación web. </p>
        <p>Cuando no estoy liada con algún código, me encanta ver series y pelis, tomar el sol con un buen libro, o viajar. </p>
    </div>
</section>