<section class="about-ele">
     <div class="text-box">
        <h2>Eleonora Tovoli</h2>
        <p>¡Hola! Me llamo Eleonora y soy italiana. Soy una persona muy activa y extrovertida: me encanta viajar, descubrir nuevas culturas, estar al aire libre y me apasiona la fotografía. Trabajé durante muchos años como gestora de viajes para una empresa estadounidense de telecomunicaciones, pero como soy inquieta y me gusta aprender cosas nuevas, finalmente decidí dar un giro a mi vida y explorar el mundo de la programación.</p>
     </div> 
<div class="image-box">
            <img src="/images/ele.jpg/EleonoraTovoli.JPG" alt="Eleonora - Foto personal">
        </div>
</section>