<footer class="footer">
    <div class="footer-logo">
        <h2>AdaShop</h2>
        <img class="adalab-logo" src="/images/logo-adalab.png" alt="logo de Adalab" >
        <p>AdaShop ©2025, todos los derechos reservados</p>
    </div>
    <div class="social-icons">
        <img src= "/images/facebook.png" alt="icono de Facebook" >
        <img src= "/images/twitter.png" alt="icono de Twitter" >
        <img src= "/images/instagram.png" alt="icono de Instagram" >
        <img src= "/images/linked-in.png" alt="icono de Linkedin" >
    </div>
    <div class="footer-menu">
        <a class="footer-link" href="index.html">Inicio</a>
        <a class="footer-link">Nosotros</a>
        <a class="footer-link" href="contact.html">Contacto</a>
    </div>
</footer>
