<header class="header">
    <section class="header-menu">
        <div class="logo">
            <h2>AdaShop</h2>
        </div>
        <div class="menu-hamburger">
            <img src= "/images/menu-hamburger.svg" alt="icono de menú" >
        </div>
        <div class="menu-desktop">
            <a class="menu__link--home" href="index.html">Home</a>
            <a class="menu__link">Nosotros</a>
            <a class="menu__link" href="contact.html">Contáctanos</a>
        </div>
    </section>
  
    <section class="main-section">
        <div class="main-container">
            <h1>Nueva App E-commerce best for you</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet sed vulputate vitae velit dictum cursus amet. Turpis donec ut velit quis. Cursus commodo, eget urna, sapien amet.</p>
            <div class="download-icons">
                <img class="google-play-icon" src="/images/Google-Play.png" alt="logo de descarga en Google Play">
                <img class="app-store-icon" src="/images/App-Store.png" alt="logo de descarga en App Store">
            </div>
        </div>
        <div class="mockup-box">
            <img src="/images/Mockup.png" alt="mockup que visualiza cómo se vería la app AdaShop en un móvil" >
        </div>
    </section>
</header>