<section class="main-section">
    <div class="main-container">
        <h1>Tu nueva app donde comprar de todo</h1>
        <p>Desde tecnología y moda hasta artículos para el hogar, belleza, juguetes y mucho más... Descubre miles de productos con envíos rápidos y atención personalizada. ¡Comprar nunca fue tan fácil!</p>
        <div class="download-icons">
            <img class="google-play-icon" src="/images/Google-Play.png" alt="logo de descarga en Google Play">
            <img class="app-store-icon" src="/images/App-Store.png" alt="logo de descarga en App Store">
        </div>
    </div>
    <div class="mockup-box">
        <img src="/images/Mockup.png" alt="mockup que visualiza cómo se vería la app AdaShop en un móvil" >
    </div>
</section>