<section class="about-Michelle">
    <div class="image-box">
        <img src="/images/Michelle.jpg" alt="" >
    </div>
    <div class="text-box">
        <h2>Michelle Pacheco</h2>
        <p>¡Hola! Soy Michelle, Venezolana de nacimiento y Toledana por adopción hace 24 años. Tengo muchos años de experiencia como Administrativa, pero debido a mis ganas de crecimiento personal y profesional he decidido empezar esta nueva aventura en el mundo de la progamacion </p>
        <p>Me considero una persona cercana, valiente y con muchas ganas de seguir creciendo. </p>
    </div>
</section>

    
  