<!DOCTYPE html>
<div class="process-section">
  <h2>Cómo trabajamos</h2>
  <div class="process-steps-container">
    <div class="process-step">
      <i class="fa-solid fa-user-plus"></i>
      <h3>Crea una cuenta</h3>
      <p>Lorem ipsum dolor sit amet, consecteteu.</p>
    </div>
    <div class="process-step">
     <i class="fa-solid fa-shield-halved"></i>
      <h3>Obten autorización</h3>
      <p>Lorem ipsum dolor sit amet, consecteteu.</p>
    </div>
    <div class="process-step">
      <i class="fa-regular fa-face-grin"></i>
      <h3>Disfruta la app</h3>
      <p>Lorem ipsum dolor sit amet, consecteteu.</p>
    </div>
  </div>
</div>